.dashboard {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  .dash-left {
    background: #252424; //#2d0a93;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 20vh;
      margin: 0 auto;
      font-size: 25px;
      color: #b3813f;
      border-bottom: 1px solid #b3813f;
    }
    .dash-user {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      h1 {
        color: #d6cec3;
      }
    }
    .logout-btn {
      .fas {
        font-size: 16px;
      }
      height: 35px;
      width: 25%;
      font-size: 14px;
      border: 3px solid #e7433d;
      background: #e4302a;
      text-decoration: none;
      color: #fff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transition: 0.2s all;
      text-transform: uppercase;
    }
  }
}
.dash-right {
  @include dashBg;
  .dash-right-overview {
    height: 15vh;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    @include dashContainerBg;
    @include flex-center(space-around);
    .overview {
      height: 80%;
      width: 100%;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-right: 1px solid rgb(120, 120, 120);
      }
      .total-applications {
        color: #b3813f;
        font-size: 20px;
      }
      .total-interviews {
        color: #b3813f;
        font-size: 20px;
      }
      .total-offers {
        color: #b3813f;
        font-size: 20px;
      }
      .total-denied {
        color: #b3813f;
        font-size: 20px;
      }
    }
  }
  .dash-right-info {
    height: 80vh;
    width: 95%;
    margin: 0 auto;
    padding-top: 30px;
    @include flex-center(space-between);
    .dash-applications {
      width: 63%;
      height: 100%;
      @include dashContainerBg;
      border-radius: 10px;
      .application-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .application-header {
          width: 95%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgb(120, 120, 120);
          .application-title {
            font-size: 30px;
            padding: 20px;
            text-transform: uppercase;
          }
          .add-btn {
            background: transparent;
            height: 40px;
            width: 10%;
            color: #fff;
            margin: 10px;
            border: 3px solid #a37b46; //#4c2fa1;
            background: #b3813f; //#371c86;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.2s all;
          }
        }
        .row-title {
          width: 95%;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1% 1fr 1fr 1fr 0.5fr;
          align-content: center;
          padding-top: 20px;
          .title {
            font-size: 15px;
            font-weight: bolder;
            color: rgb(58, 58, 58);
            text-align: center;
          }
        }
        .row {
          width: 95%;
          height: 50px;
          margin: 0 auto;
          margin-top: 20px;
          display: grid;
          grid-template-columns: 1% 1fr 1fr 1fr 0.5fr;
          align-content: center;
          box-shadow: 0px 0px 10px rgb(53, 53, 53);
          border-radius: 5px;
          background: #e6e7ee;
          .job-color {
            background: #b3813f;
            width: 100%;
          }
          li {
            list-style: none;
            text-transform: lowercase;
            text-align: center;
            &::first-letter {
              text-transform: uppercase;
            }
          }
          .job-links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .edit-job-btn {
              color: rgb(139, 139, 139);
            }
            .delete-job-btn {
              color: #e7433d;
            }
            button {
              width: 30%;
              border: none;
              cursor: pointer;
              border-radius: 5px;
              font-size: 25px;
              background: transparent;
            }
          }
        }
      }
    }
    .dash-summary {
      width: 35%;
      height: 100%;
      @include dashContainerBg; //#989acc;
      border-radius: 10px;
      .dash-summary-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .summary-header {
          width: 95%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 50px;
          .summary-title {
            width: 95%;
            margin: 0 auto;
            font-size: 30px;
            text-transform: uppercase;
            padding: 20px;
            border-bottom: 1px solid rgb(120, 120, 120);
          }
        }
      }
    }
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 20%;
    height: 30%;
    border-radius: 0.5rem;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        label {
          text-transform: uppercase;
          font-weight: bolder;
        }
        input {
          border: none;
          background: #ccc;
          height: 30%;
          width: 80%;
        }
        #status {
          height: 15%;
          width: 80%;
          background: #ccc;
        }
      }
      .form-button {
        color: #fff;
        border: 3px solid #a37b46;
        background: #b3813f;
        width: 60px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
