@import "./variables";
@import "./form";
@import "./dashboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

.home {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/home-bg2.jpg");
  background-size: cover;
  @include flex-center(flex-start);
  .content {
    background: #252424;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 20px #000;
    .inner-content {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .title {
        text-align: center;
        color: #fff;
        h1 {
          font-size: 40px;
          padding-bottom: 20px;
          .highlight {
            color: #b3813f;
            font-size: 65px;
          }
        }
        h4 {
          font-size: 20px;
        }
      }
      .details {
        color: #bdac99;
        ul {
          list-style: none;
          li {
            padding-bottom: 5px;
          }
        }
      }
      .log-reg {
        width: 70%;
        @include flex-center(space-around);
        a {
          height: 35px;
          width: 120px;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          text-decoration: none;
          border-radius: 5px;
          color: #fff;
        }
        .login-btn {
          background: #b3813f;
          border: 3px solid #926934;
        }
        .register-btn {
          background: #833838; //#c2a175;
          border: 3px solid #926934;
        }
      }
    }
  }
  .details {
    color: #ffffff;
    font-size: 24px;
    margin: 0 auto;
    height: 25%;
    .details-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .details-list {
        list-style: none;
        li {
          padding-bottom: 15px;
          font-size: 20px;
        }
      }
    }
  }
}
