<div class="home">
  <div class="content">
    <div class="inner-content">
      <div class="title">
        <h1>Welcome to <br /><span class="highlight">Job Trackr</span></h1>
        <h4>An easier way to track</h4>
      </div>

      <div class="log-reg">
        <a href="/users/login" class="login-btn">
          LOGIN
        </a>
        <svg height="35" width="4">
          <line y1="0" y2="35" style="stroke:rgb(27, 26, 26); stroke-width:4" />
        </svg>
        <a href="/users/register" class="register-btn">
          REGISTER
        </a>
      </div>
    </div>
  </div>

  <div class="details">
    <div class="details-content">
      <p>
        Sign up for FREE to easily keep track of your job applications.
      </p>
      <svg height="5" width="100">
        <line x1="0" x2="100" style="stroke:rgb(27, 26, 26); stroke-width:4" />
      </svg>
      <ul class="details-list">
        <li>Stay organized by simply (add, edit or remove) any job listing.</li>
        <li>Update each listing as you proceed in the job hunt.</li>
        <li>Track your progress with analytical feedback.</li>
      </ul>
    </div>
  </div>
</div>
