<div class="home">
    <div class="content">
        <div class="inner-content">
            <div class="title">
                <h1>Welcome to Job Tracker</h1>
                <h4>Track your applied/pending jobs</h4>
            </div>
            <div class="details">
                <ul>
                    <li>Keep track of all your applications</li>
                    <li>Add & remove applications</li>
                    <li>Update & edit existing applications</li>
                    <li>Compare job listings</li>
                    <li>Visual charts</li>
                </ul>
            </div>
            <div class="log-reg">
                <a href="/users/login" class="login-btn">
                    LOGIN
                </a>
                <a href="/users/register" class="register-btn">
                    REGISTER
                </a>
            </div>
        </div>
    </div>
</div>