<div class="container">
  <div class="content">
    <div class="inner-content register-container">
      <div class="title">
        <h1>Register</h1>
      </div>
      <div class="form-content">
        <%- include('./partials/messages'); %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
            />
          </div>
          <button type="submit" class="btn">
            Register
          </button>
        </form>
      </div>
      <div class="redirect">
        <p>Already have an account?</p>
        <a href="/users/login" class="btn2">
          LOGIN
        </a>
      </div>
    </div>
  </div>
  <div class="details">
    <div class="details-content">
      <p>
        Sign up for FREE to easily keep track of your job applications.
      </p>
      <svg height="5" width="100">
        <line x1="0" x2="100" style="stroke:rgb(27, 26, 26); stroke-width:4" />
      </svg>
      <ul class="details-list">
        <li>Stay organized by simply (add, edit or remove) any job listing.</li>
        <li>Update each listing as you proceed in the job hunt.</li>
        <li>Track your progress with analytical feedback.</li>
      </ul>
    </div>
  </div>
</div>
