.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  .container .content {
    background: #252424;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 20px #000; }
    .container .content .inner-content {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      .container .content .inner-content .title {
        text-align: center;
        color: #fff; }
        .container .content .inner-content .title h1 {
          font-size: 40px; }
      .container .content .inner-content .form-content {
        width: 70%;
        height: 100%; }
        .container .content .inner-content .form-content .auth-success {
          background: #19c819;
          color: white;
          text-align: center;
          font-size: 14px;
          text-transform: uppercase; }
        .container .content .inner-content .form-content form {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .container .content .inner-content .form-content form .form-group {
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .container .content .inner-content .form-content form .form-group .auth-error {
              background: #eb5757;
              color: white;
              text-align: center;
              font-size: 14px;
              text-transform: uppercase; }
            .container .content .inner-content .form-content form .form-group label {
              font-size: 20px;
              font-weight: bolder;
              color: #b3813f; }
            .container .content .inner-content .form-content form .form-group input {
              color: #fff; }
            .container .content .inner-content .form-content form .form-group .form-control {
              width: 100%;
              height: 50px;
              background: transparent;
              border: none;
              border-bottom: 2px solid #1a1a1a; }
          .container .content .inner-content .form-content form .btn {
            text-transform: uppercase;
            margin: 0 auto;
            background: #b3813f;
            border: 3px solid #926934;
            height: 35px;
            width: 120px;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer; }
      .container .content .inner-content .redirect {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .container .content .inner-content .redirect p {
          font-size: 14px;
          color: #fff; }
        .container .content .inner-content .redirect .btn2 {
          text-decoration: none;
          font-weight: bolder;
          color: #646464; }
    .container .content .login-container {
      height: 50%; }
    .container .content .register-container {
      height: 70%; }
  .container .details {
    color: #ffffff;
    font-size: 24px;
    margin: 0 auto;
    height: 25%; }
    .container .details .details-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .container .details .details-content .details-list {
        list-style: none; }
        .container .details .details-content .details-list li {
          padding-bottom: 15px;
          font-size: 20px; }

.dashboard {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%; }
  .dashboard .dash-left {
    background: #252424; }
    .dashboard .dash-left .header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 20vh;
      margin: 0 auto;
      font-size: 25px;
      color: #b3813f;
      border-bottom: 1px solid #b3813f; }
    .dashboard .dash-left .dash-user {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .dashboard .dash-left .dash-user h1 {
        color: #d6cec3; }
    .dashboard .dash-left .logout-btn {
      height: 35px;
      width: 25%;
      font-size: 14px;
      border: 3px solid #e7433d;
      background: #e4302a;
      text-decoration: none;
      color: #fff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transition: 0.2s all;
      text-transform: uppercase; }
      .dashboard .dash-left .logout-btn .fas {
        font-size: 16px; }

.dash-right {
  background: #ebebeb; }
  .dash-right .dash-right-overview {
    height: 15vh;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #c4c4c4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .dash-right .dash-right-overview .overview {
      height: 80%;
      width: 100%;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .dash-right .dash-right-overview .overview:nth-child(1), .dash-right .dash-right-overview .overview:nth-child(2), .dash-right .dash-right-overview .overview:nth-child(3) {
        border-right: 1px solid #787878; }
      .dash-right .dash-right-overview .overview .total-applications {
        color: #b3813f;
        font-size: 20px; }
      .dash-right .dash-right-overview .overview .total-interviews {
        color: #b3813f;
        font-size: 20px; }
      .dash-right .dash-right-overview .overview .total-offers {
        color: #b3813f;
        font-size: 20px; }
      .dash-right .dash-right-overview .overview .total-denied {
        color: #b3813f;
        font-size: 20px; }
  .dash-right .dash-right-info {
    height: 80vh;
    width: 95%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .dash-right .dash-right-info .dash-applications {
      width: 63%;
      height: 100%;
      background: #c4c4c4;
      border-radius: 10px; }
      .dash-right .dash-right-info .dash-applications .application-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        .dash-right .dash-right-info .dash-applications .application-container .application-header {
          width: 95%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #787878; }
          .dash-right .dash-right-info .dash-applications .application-container .application-header .application-title {
            font-size: 30px;
            padding: 20px;
            text-transform: uppercase; }
          .dash-right .dash-right-info .dash-applications .application-container .application-header .add-btn {
            background: transparent;
            height: 40px;
            width: 10%;
            color: #fff;
            margin: 10px;
            border: 3px solid #a37b46;
            background: #b3813f;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.2s all; }
        .dash-right .dash-right-info .dash-applications .application-container .row-title {
          width: 95%;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1% 1fr 1fr 1fr 0.5fr;
          align-content: center;
          padding-top: 20px; }
          .dash-right .dash-right-info .dash-applications .application-container .row-title .title {
            font-size: 15px;
            font-weight: bolder;
            color: #3a3a3a;
            text-align: center; }
        .dash-right .dash-right-info .dash-applications .application-container .row {
          width: 95%;
          height: 50px;
          margin: 0 auto;
          margin-top: 20px;
          display: grid;
          grid-template-columns: 1% 1fr 1fr 1fr 0.5fr;
          align-content: center;
          box-shadow: 0px 0px 10px #353535;
          border-radius: 5px;
          background: #e6e7ee; }
          .dash-right .dash-right-info .dash-applications .application-container .row .job-color {
            background: #b3813f;
            width: 100%; }
          .dash-right .dash-right-info .dash-applications .application-container .row li {
            list-style: none;
            text-transform: lowercase;
            text-align: center; }
            .dash-right .dash-right-info .dash-applications .application-container .row li::first-letter {
              text-transform: uppercase; }
          .dash-right .dash-right-info .dash-applications .application-container .row .job-links {
            display: flex;
            justify-content: space-evenly;
            align-items: center; }
            .dash-right .dash-right-info .dash-applications .application-container .row .job-links .edit-job-btn {
              color: #8b8b8b; }
            .dash-right .dash-right-info .dash-applications .application-container .row .job-links .delete-job-btn {
              color: #e7433d; }
            .dash-right .dash-right-info .dash-applications .application-container .row .job-links button {
              width: 30%;
              border: none;
              cursor: pointer;
              border-radius: 5px;
              font-size: 25px;
              background: transparent; }
    .dash-right .dash-right-info .dash-summary {
      width: 35%;
      height: 100%;
      background: #c4c4c4;
      border-radius: 10px; }
      .dash-right .dash-right-info .dash-summary .dash-summary-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .dash-right .dash-right-info .dash-summary .dash-summary-container .summary-header {
          width: 95%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 50px; }
          .dash-right .dash-right-info .dash-summary .dash-summary-container .summary-header .summary-title {
            width: 95%;
            margin: 0 auto;
            font-size: 30px;
            text-transform: uppercase;
            padding: 20px;
            border-bottom: 1px solid #787878; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }
  .modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 20%;
    height: 30%;
    border-radius: 0.5rem; }
    .modal .modal-content .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; }
      .modal .modal-content .form .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%; }
        .modal .modal-content .form .form-group label {
          text-transform: uppercase;
          font-weight: bolder; }
        .modal .modal-content .form .form-group input {
          border: none;
          background: #ccc;
          height: 30%;
          width: 80%; }
        .modal .modal-content .form .form-group #status {
          height: 15%;
          width: 80%;
          background: #ccc; }
      .modal .modal-content .form .form-button {
        color: #fff;
        border: 3px solid #a37b46;
        background: #b3813f;
        width: 60px;
        height: 40px;
        cursor: pointer; }

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato"; }

.home {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  .home .content {
    background: #252424;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 20px #000; }
    .home .content .inner-content {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      .home .content .inner-content .title {
        text-align: center;
        color: #fff; }
        .home .content .inner-content .title h1 {
          font-size: 40px;
          padding-bottom: 20px; }
          .home .content .inner-content .title h1 .highlight {
            color: #b3813f;
            font-size: 65px; }
        .home .content .inner-content .title h4 {
          font-size: 20px; }
      .home .content .inner-content .details {
        color: #bdac99; }
        .home .content .inner-content .details ul {
          list-style: none; }
          .home .content .inner-content .details ul li {
            padding-bottom: 5px; }
      .home .content .inner-content .log-reg {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; }
        .home .content .inner-content .log-reg a {
          height: 35px;
          width: 120px;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          text-decoration: none;
          border-radius: 5px;
          color: #fff; }
        .home .content .inner-content .log-reg .login-btn {
          background: #b3813f;
          border: 3px solid #926934; }
        .home .content .inner-content .log-reg .register-btn {
          background: #252424;
          border: 3px solid #926934; }
  .home .details {
    color: #ffffff;
    font-size: 24px;
    margin: 0 auto;
    height: 25%; }
    .home .details .details-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .home .details .details-content .details-list {
        list-style: none; }
        .home .details .details-content .details-list li {
          padding-bottom: 15px;
          font-size: 20px; }
